<div class="max-w-5xl mx-auto mt-12 px-4 text-center">
    <div class="w-full max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold mt-2 mb-6">Helping you create and manage your tasks<br>by simplifying the todo management.</h1>
        <p class="px-4 leading-relaxed">My-Todo provides you with a quick, simple way to manage your daily tasks
            <br>Allowing you to spend less time manage your tasks with no effort ,<br>giving you more time on the other things you enjoy.
        </p>
        <p class="mb-8 mt-4 px-4 leading-relaxed">Oh, and the best bit...
            <span class="text-pink-600 font-bold">It's free!</span></p>
        <div>
            <a class="inline-block py-4 px-8 leading-none text-white bg-slate-800 hover:bg-pink-600 rounded shadow text-sm font-bold"
                [routerLink]="['/tasks']">Tasks</a>
        </div>
    </div>
</div>